<footer>
        <ul class="small-block-grid-2 medium-block-grid-4 text-center">
                <li><a data-scroll href="<%- url_for('/') %>#about">About</a></li>
                <li><a href="<%- url_for('routes.html') %>">Routes</a></li>
                <li><a data-scroll href="<%- url_for('/') %>#team">Team</a></li>
                <li><a data-scroll href="<%- url_for('/') %>#blog">Blog</a></li>
                <li><a data-scroll href="<%- url_for('/') %>#signup">Sign up</a></li>
                <li><a data-scroll href="<%- url_for('/') %>#contact">Contact</a></li>
                <li><a href="<%- url_for('privacy.html') %>">Privacy</li>
                <li><a href="<%- url_for('impressum.html') %>">Impressum</a></li>
        </ul>
        <p class="text-center">
            <small>Copyright Trackfellas 2015</small>
        </p>
    </footer>
