<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%- page.permalink %>" class="entypo-facebook popup"><span>Facebook</span></a></li>
        <li><a href="http://twitter.com/home?status=<%- page.permalink %>" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
        <li><a href="https://plus.google.com/share?url=Check%20out%20this%20rTrackfellas%20post:%20<%- page.permalink %>" class="entypo-gplus" target="_blank"><span>Google+</span></a></li>
    </ul>
</aside>
<%- image_tag( 'img/havanna.jpg', {alt: 'Old Car in Havanna', class: 'hero'}) %>
    <div class="row">
        <div class="normal-content">
            <h1>Cuba Southeast Tour</h1>
            <p class="text-center">Trackfellas presents you the best travel routes worldwide. Our next trip brings us to the fast changing socialistic island Cuba! We will guide you on your way from old colonial Havana towards the southeast to the epicentre of the revolution in Santiago de Cuba.</p>
        </div>
        <section>
            <div class="small-content text-center">
                <%- image_tag( 'img/nika.jpg', {alt: 'Old Car in Havanna', class: 'routepic'}) %>
                    <p class="text-center"><strong>Trackfella Nika</strong>(25-35)from Hamburg, Germany
                        <br><strong>Skills:</strong> Globetrotter
                        <strong>Submitted Routes:</strong> 1
                        <br>
                        <a class="button small alert centro" href="mailto:nika@trackfellas.com">Contact me!</a>
                    </p>
            </div>
        </section>
        <section>
            <div class="big-content">
                <h2>Travel Route</h2>
                <iframe src="https://www.google.com/maps/d/embed?mid=zrYZfx3FSo48.kgVtIu-lk2YI"></iframe>
            </div>
        </section>
        <section>
            <div class="normal-content text-center">
                <h2>Key Facts</h2>
                <p><strong>Type:</strong> Individual Trip
                    <br>
                    <strong>Date:</strong> 03.04.2015 - 21.04.2015
                    <br>
                    <strong>Duration:</strong> 18 days
                    <br>
                    <strong>Weather:</strong> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> (20 - 30 °C, dry and sunny weather)
                    <br>
                    <strong>Activities:</strong> Nightlife, Eating, Relaxing, Sightseeing, Culture
                    <strong>Terrain:</strong> Island, Beach, Nature, Mountains, Urban
                    <br>
                    <strong>Safety:</strong> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i> (Cuba is a quite safe country for travellers, however keep an eye on our belongings)
                    <strong>Number of travelers:</strong> 2 (Friends)
                    <br>
                    <strong>Required travel skills:</strong> Easy
                    <br>
                    <strong>Trip possible for:</strong> family; single woman; older traveler
                    <br>
                    <strong>Total Costs on-site:</strong> 750 € (You should travel with another person to share acommondation and transport. That would be way cheaper than traveling by yourself.)
                    <br>
                    <strong>Accommodation category:</strong> Middle-class (AC, TV, private bath)
                    <br>
                    <strong>Total distance:</strong> 2000 km
                    <br>
                    <strong>Main transportation:</strong> Taxi (1300 km) Bus (700 km)</p>
            </div>
        </section>
        <section>
            <div class="normal-content">
                <h2>Galerie</h2>
                <div class="galerie">
                    <div>
                        <a href="<%- url_for('img/cuba/1_havana.jpg') %>" data-featherlight="image">
                            <%- image_tag( 'img/cuba/thumbnails/1_havana.jpg', {alt: 'Havana Cuba'}) %>
                        </a>
                    </div>
                    <div>
                        <a href="<%- url_for('img/cuba/2_cienfuegos.jpg') %>" data-featherlight="image">
                            <%- image_tag( 'img/cuba/thumbnails/2_cienfuegos.jpg', {alt: 'Cienfuegos Cuba'}) %>
                        </a>
                    </div>
                    <div>
                        <a href="<%- url_for('img/cuba/3_viaje.jpg') %>" data-featherlight="image">
                            <%- image_tag( 'img/cuba/thumbnails/3_viaje.jpg', {alt: 'Viaje'}) %>
                        </a>
                    </div>
                    <div>
                        <a href="<%- url_for('img/cuba/4_camaguey.jpg') %>" data-featherlight="image">
                            <%- image_tag( 'img/cuba/thumbnails/4_camaguey.jpg', {alt: 'Camaguey Cuba'}) %>
                        </a>
                    </div>
                    <div>
                        <a href="<%- url_for('img/cuba/5_bayamo.jpg') %>" data-featherlight="image">
                            <%- image_tag( 'img/cuba/thumbnails/5_bayamo.jpg', {alt: 'Bayamo'}) %>
                        </a>
                    </div>
                    <div>
                        <a href="<%- url_for('img/cuba/6_santiago.jpg') %>" data-featherlight="image">
                            <%- image_tag( 'img/cuba/thumbnails/6_santiago.jpg', {alt: 'Santiago de Cuba'}) %>
                        </a>
                    </div>
                    <div>
                        <a href="<%- url_for('img/cuba/7_santa_maria.jpg') %>" data-featherlight="image">
                            <%- image_tag( 'img/cuba/thumbnails/7_santa_maria.jpg', {alt: 'Santa Maria Cuba'}) %>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="big-content">
                <h2>Trip Details</h2>
                <ul class="accordion" data-accordion>
                    <li class="accordion-navigation">
                        <a href="#panel1b"><h3>Destination Overview<span class="fa accordion-icon right"></span></h3></a>
                        <div id="panel1b" class="content active">
                            <p><strong>Country:</strong> Cuba, Caribbean
                                <br>
                                <strong>Languages:</strong> Spanish
                                <br>
                                <strong>Climate:</strong> Constant temperatures all year with day temperatures from 26 °C in winter up to humid 32°C in summer. Hurricanes can hit Cuba from June until November, most often in September.
                                <br>
                                <strong>Seasons:</strong> Cuba can be visited all year. Best season is November until May with lots of sun and temperatures around 25°C during the day and 20°C at night.
                                <br>
                                <strong>Travel period:</strong> June - October is off season and December - May is the main season, however Cuba is not overcrowded. This might change with the current rapprochement between the USA and Cuba, which could lead to a rise in tourists from the US. Currently tourist travel from the USA to Cuba is not possible.
                                <br>
                                <strong>Visa:</strong> Visa/tourist card for EU travelers is valid for 30 days and can be renewed for 30 days. You can get it at the Cuban embassy or most airlines or travel agents can also sell it to you. Price is 25 CUC. EU citizens also need also a passport, with validity for at least 6 more months. Currently tourist travel to Cuba for US citizens is still forbidden!
                                <br>
                                <strong>Currency conversion:</strong> 1,12 CUC = 1 € (The convertible peso (CUC) is the currency for tourists in Cuba and is equivalent to the US Dollar)
                                <br>
                                <strong>Health Care:</strong> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> ; No special vaccination necessary, besides tetanus and diphtheria. No malaria, but dengue fever occurs. Medical care is quite good. Nevertheless there is a general lack of medication in pharmacies, so better bring your own first-aid kit.
                                <br>
                                <strong>Travel Warning:</strong> No travel warnings! Cuban citizens need a permission to make private business. Accomodation in private households without official permission might lead to problems with the police for the host and the guest, so better check the documents in advance.</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel1a"><h3>1. Havana <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span></h3></a>
                        <div id="panel1a" class="content">
                            <p><strong>Type:</strong> Big City, Capital
                                <br>
                                <strong>Date:</strong> 03.04. - 07.04.15
                                <br>
                                <strong>Comment:</strong> Is a MUST see. It&#39;s beautiful and I would say the most important city BUT it is the dirtiest city I have seen in Cuba and the smelliest. </p>
                            <p><strong>Food:</strong> <em>La Torre</em><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                <br>
                                <strong>Type:</strong> Restaurant &amp; Bar
                                <br>
                                <strong>Comment:</strong> Nice 360° view over Havana; Good food and reasonable price for tourists.</p>
                            <p><strong>Entertainment:</strong> <em>Casa de la Musica</em><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Club
                                <br>
                                <strong>Costs:</strong> 10CUC-40CUC // 9€-37€
                                <br>
                                <strong>Comment:</strong> Live Music &amp; Concerts, often latin american dances</p>
                            <p><strong>Sightseeing:</strong> <em>Morro Castle</em><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Historical Sight
                                <br>
                                <strong>Transportation:</strong> Private Taxi
                                <br>
                                <strong>Comment:</strong> </p>
                            <p><strong>Sightseeing:</strong> <em>Santa Maria</em><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Beach
                                <br>
                                <strong>Transportation:</strong> Public Transportation
                                <br>
                                <strong>Comment:</strong> Nice beach 20 minutes away from the center of Havana</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel2a"><h3>2. Havana ---> Cienfuegos <span class="fa onestar"></span><span class="fa accordion-icon right"></span><i class="fa fa-taxi right"></i></h3></a>
                        <div id="panel2a" class="content">
                            <p><strong>Type:</strong> Transportation
                                <br>
                                <strong>Transportation:</strong> Private Taxi
                                <br>
                                <strong>Date:</strong> 07.04.15
                                <br>
                                <strong>Distance:</strong> 240 km
                                <br>
                                <strong>Duration:</strong> 2:15 hours
                                <br>
                                <strong>Costs:</strong> 35CUC // 32€
                                <br>
                                <strong>Tip:</strong> Ask for a taxi ride at the busstation</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel3a"><h3>3. Cienfuegos <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span></h3></a>
                        <div id="panel3a" class="content">
                            <p><strong>Type:</strong> Stopover
                                <br>
                                <strong>Date:</strong> 07.04.15
                                <br>
                                <strong>Comment:</strong> Great for a stopover for a few hours. Beautiful city.</p>
                            <p><strong>Food:</strong> <em>Restaurante Bahia</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                <br>
                                <strong>Type:</strong> Restaurant
                                <br>
                                <strong>Costs:</strong> 3-6 €
                                <br>
                                <strong>Comment:</strong>Very good quality, super tasty</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel4a"><h3>4. Cienfuegos ---> Trinidad <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span><i class="fa fa-bus right"></i></h3></a>
                        <div id="panel4a" class="content">
                            <p><strong>Type:</strong> Transportation
                                <br>
                                <strong>Transportation:</strong> Bus
                                <br>
                                <strong>Company:</strong> Viazul
                                <br>
                                <strong>Date:</strong> 07.04.15
                                <br>
                                <strong>Departure:</strong> 17:30
                                <br>
                                <strong>Distance:</strong> 85 km
                                <br>
                                <strong>Duration:</strong> 2:15 hours
                                <br>
                                <strong>Costs:</strong> 6CUC // 5€</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel5a"><h3>5. Trinidad <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="fa accordion-icon right"></span></h3></a>
                        <div id="panel5a" class="content">
                            <p><strong>Type:</strong> Town
                                <br>
                                <strong>Date:</strong> 07.04. - 10.4.15
                                <br>
                                <strong>Comment:</strong> Very beautiful and historical, old city, many tourists, many restaurants, good (international) food, great partys (if you like salsa), very cheap
                                <br>
                                <strong>Tip:</strong> You don&#39;t need to book in advance a Casa Particular, there are many people waiting for you at the busstation!</p>
                            <p><strong>Accommodation:</strong> <em>Hostal Anita y Pirolo</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                <br>
                                <strong>Type:</strong> Holiday Apartment
                                <br>
                                <strong>Room:</strong> Middle-class (BnB/AC/TV/Private Bath)
                                <br>
                                <strong>Costs:</strong> 15CUC // 14€
                                <br>
                                <strong>Comment:</strong> Own entry, terrace, roof top, 2 rooms, for 3 people
                                <br>
                                <strong>Tip:</strong> The normal price is 25CUC but we negotiated 15CUC for 2 persons.</p>
                            <p><strong>Food:</strong> <em>La Botija</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="right fa fa-star"></i>
                                <br>
                                <strong>Type:</strong> Restaurant
                                <br>
                                <strong>Costs:</strong> 1,50 - 5 €
                                <br>
                                <strong>Comment:</strong> 24hours open, international, good and cheap food </p>
                            <p><strong>Entertainment:</strong> <em>Casa de la Musica</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Club
                                <br>
                                <strong>Costs:</strong> 1 -3 €
                                <br>
                                <strong>Comment:</strong> It&#39;s outside, daily program, live music, dancing clases</p>
                            <p><strong>Sightseeing:</strong> <em>Historic Center</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                <br>
                                <strong>Type:</strong> Historical Sight
                                <br>
                                <strong>Transportation:</strong> by foot </p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel6a">
                            <h3>6. Trinidad ---> Camagüey
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <span class="fa accordion-icon right"></span>
                        <i class="fa fa-bus right"></i>
                        </h3>
                        </a>
                        <div id="panel6a" class="content">
                            <p><strong>Type:</strong> Transportation
                                <br>
                                <strong>Transportation:</strong> Bus
                                <br>
                                <strong>Company:</strong> Viazul
                                <br>
                                <strong>Date:</strong> 10.04.15
                                <br>
                                <strong>Departure:</strong> 08:00
                                <br>
                                <strong>Distance:</strong> 260 km
                                <br>
                                <strong>Duration:</strong> 5:30 hours
                                <br>
                                <strong>Costs:</strong> 15CUC // 14€</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel7a">
                            <h3>7. Camagüey
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <span class="fa accordion-icon right"></span></h3></a>
                        <div id="panel7a" class="content">
                            <p><strong>Type:</strong> City
                                <br>
                                <strong>Date:</strong> 10.04. - 11.4.15
                                <br>
                                <strong>Comment:</strong> Not many tourists, it&#39;s nice to see, but not that many things to do, very good and super cheap restaurants </p>
                            <p><strong>Accommodation:</strong> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                <br>
                                <strong>Type:</strong> B&amp;B
                                <br>
                                <strong>Room:</strong> Middle-class (BnB/AC/TV/Private Bath)
                                <br>
                                <strong>Costs:</strong> 20CUC // 18€
                                <br>
                                <strong>Comment:</strong> Very beautiful room to stay </p>
                            <p><strong>Food:</strong> <em>La Isabela</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                <br>
                                <strong>Type:</strong> Restaurant
                                <br>
                                <strong>Costs:</strong> 2-4 €
                                <br>
                                <strong>Comment:</strong> Nice design, they have REAL Pizza</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel8a">
                            <h3>8. Camagüey ---> Bayamo
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <span class="fa accordion-icon right"></span>
                        <i class="fa fa-bus right"></i>
                        </h3></a>
                        <div id="panel8a" class="content">
                            <p><strong>Type:</strong> Transportation
                                <br>
                                <strong>Transportation:</strong> Bus
                                <br>
                                <strong>Company:</strong> Viazul
                                <br>
                                <strong>Date:</strong> 11.04.15
                                <br>
                                <strong>Departure:</strong> 13:30
                                <br>
                                <strong>Distance:</strong> 210 km
                                <br>
                                <strong>Duration:</strong> 4:30 hours
                                <br>
                                <strong>Costs:</strong> 11CUC // 10€</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel9a"><h3>9. Bayamo <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span></h3></a>
                        <div id="panel9a" class="content">
                            <p><strong>Type:</strong> Town
                                <br>
                                <strong>Date:</strong> 11.04. - 12.4.15
                                <br>
                                <strong>Comment:</strong> Many coaches, very historical center, very cheap, not many tourist.
                                <br>
                                <strong>Tip:</strong> You can find yoghurt and cheese here AND Bayamo is very close to a nice beach. If you have time you could stay 1 night in Bayamo and 1 or 2 nights in Manzanillo.</p>
                            <p><strong>Accommodation:</strong> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> B&amp;B
                                <br>
                                <strong>Room:</strong> Middle-class (BnB/AC/TV/Private Bath)
                                <br>
                                <strong>Costs:</strong> 18CUC // 18€
                                <br>
                                <strong>Comment:</strong> You have your own entrance and there is a roof terrace</p>
                            <p><strong>Sightseeing:</strong> <em>Museo de Cera</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Museum
                                <br>
                                <strong>Transportation:</strong> by foot
                                <br>
                                <strong>Costs:</strong> 2€
                                <br>
                                <strong>Comment:</strong> Wax museum; Very small but nice to see.</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel10a"><h3>10. Bayamo ---> Santiago de Cuba <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span><i class="fa fa-bus right"></i></h3></a>
                        <div id="panel10a" class="content">
                            <p><strong>Type:</strong> Transportation
                                <br>
                                <strong>Transportation:</strong> Bus
                                <br>
                                <strong>Company:</strong> Viazul
                                <br>
                                <strong>Date:</strong> 12.04.15
                                <br>
                                <strong>Departure:</strong> 18:00
                                <br>
                                <strong>Distance:</strong> 130 km
                                <br>
                                <strong>Duration:</strong> 2 hours
                                <br>
                                <strong>Costs:</strong> 7CUC // 6,50€
                                <br>
                                <strong>Comment:</strong> This bus comes from Trinidad and it&#39;s quite often one hour late.</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel11a"><h3>11. Santiago de Cuba <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span></h3></a>
                        <div id="panel11a" class="content">
                            <p><strong>Type:</strong> Town
                                <br>
                                <strong>Date:</strong> 12.04. - 14.04.15
                                <br>
                                <strong>Comment:</strong> For transportation you can use the motorbike-taxis for just 0,50CUC, it&#39;s super cheap.
                                <br>
                                <strong>Tip:</strong> The sun is VERY strong. Wake up in the early morning to do sightseeing, or in the afternoon. </p>
                            <p><strong>Accommodation:</strong> <em>Casa Margarita</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> B&amp;B
                                <br>
                                <strong>Room:</strong> Shared Apartment
                                <br>
                                <strong>Costs:</strong> 20CUC // 18€
                                <br>
                                <strong>Comment:</strong> Margarita is a very nice person, the apartment is situated in an old colonial house, the room has no window.</p>
                            <p><strong>Sightseeing:</strong> <em>Cuartel de Moncada</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Museum
                                <br>
                                <strong>Transportation:</strong> by Foot
                                <br>
                                <strong>Costs:</strong> 4 €
                                <br>
                                <strong>Comment:</strong> This is were the history of Cuban revolution starts.</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel12a"><h3>12. Santiago de Cuba ---> Guantanamo <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span><i class="fa fa-taxi right"></i></h3></a>
                        <div id="panel12a" class="content">
                            <p><strong>Type:</strong> Transportation
                                <br>
                                <strong>Transportation:</strong> Private Taxi
                                <br>
                                <strong>Date:</strong> 14.04.15
                                <br>
                                <strong>Departure:</strong> 13:00
                                <br>
                                <strong>Distance:</strong> 90 km
                                <br>
                                <strong>Duration:</strong> 1:15 hours
                                <br>
                                <strong>Costs:</strong> 14CUC // 13€</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel13a"><h3>13. Guantanamo <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span></h3></a>
                        <div id="panel13a" class="content">
                            <p><strong>Type:</strong> Town
                                <br>
                                <strong>Date:</strong> 14.04. - 18.04.15
                                <br>
                                <strong>Comment:</strong> Guantanamo is nice to see for a stopover, there are no tourists, VERY cheap, Pizza for 1CUC, Mojitos 1,50CUC. Most prices are in CUP (national money). There is really not that much to do or see. I visited the family of my friend.
                                <strong>Tip:</strong> Better head East to isolated Baracoa with its tropical beaches!</p>
                            <p><strong>Accommodation:</strong> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Holiday Apartment
                                <br>
                                <strong>Room:</strong> Middle-class (BnB/AC/TV/Private Bath)
                                <br>
                                <strong>Costs:</strong> 375CUP // 13€
                                <br>
                                <strong>Comment:</strong> You can only stay there if you have CUP (Cuban money). It&#39;s 4 km away from the city center.
                                <br>
                                <strong>Tip:</strong> You will find nice BnB&#39;s in the center.</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel14a"><h3>14. Guantanamo ---> Havana <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span><i class="fa fa-taxi right"></i></h3></a>
                        <div id="panel14a" class="content">
                            <p><strong>Type:</strong> Transportation
                                <br>
                                <strong>Transportation:</strong> Private Taxi
                                <br>
                                <strong>Date:</strong> 18.04.15
                                <br>
                                <strong>Departure:</strong> 10:00
                                <br>
                                <strong>Distance:</strong> 930 km
                                <br>
                                <strong>Duration:</strong> 10 hours
                                <br>
                                <strong>Costs:</strong> 70 CUC //65 € for 2 persons
                                <br>
                                <strong>Comment:</strong> With the Viazul Bus 12hours and 110CUC for 2 persons
                                <br>
                                <strong>Tip:</strong> You always can ask for a taxi at the bus terminals. Sometimes it is cheaper than the bus. We stopped for lunch at Camagüey and changed cars.</p>
                        </div>
                    </li>
                    <li class="accordion-navigation">
                        <a href="#panel15a"><h3>15. Havana <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="fa accordion-icon right"></span><span class="divi"></span></h3></a>
                        <div id="panel15a" class="content">
                            <p><strong>Type:</strong> Big City, Capital
                                <br>
                                <strong>Date:</strong> 18.04. - 21.4.15
                                <br>
                                <strong>Comment:</strong> Is a MUST see. It&#39;s beautiful and I would say the most important city BUT it is the dirtiest city I have seen in Cuba and the smelliest.</p>
                            <p><strong>Food:</strong> <em>La Torre</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                <br>
                                <strong>Type:</strong> Restaurant &amp; Bar
                                <br>
                                <strong>Comment:</strong> Nice 360° view over Havana; Good food and reasonable prices for tourists.</p>
                            <p><strong>Entertainment:</strong> <em>Casa de la Musica</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Club
                                <br>
                                <strong>Costs:</strong> 10CUC-40CUC // 9€-37€
                                <br>
                                <strong>Comment:</strong> Live music &amp; concerts, often latin american dances</p>
                            <p><strong>Sightseeing:</strong> <em>Morro Castle</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Historical Sight
                                <br>
                                <strong>Transportation:</strong> Private Taxi
                                <br>
                                <strong>Comment:</strong> </p>
                            <p><strong>Sightseeing:</strong> <em>Santa Maria</em> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                <br>
                                <strong>Type:</strong> Beach
                                <br>
                                <strong>Transportation:</strong> Public Transportation
                                <br>
                                <strong>Comment:</strong> Nice beach 20 minutes away from the center of Havana</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div class="normal-content text-center">
                <h2>Feedback</h2>
                <p>Like what you found? Didn't like what you found? Either way, we want to hear from you. Take a few minutes to answer our questions! This will help us to build better routes for you! </p>
                <p><a href="//docs.google.com/forms/d/1t5Qh1RJmjutaiRxtxsx1bITVY8XoJ_Bega2qlvvP2No/viewform">Click</a> here for the feedback form.</p>
            </div>
        </section>
        </div>
